{% extends "base.html.twig" %}
{% block title %}{{ category.label }}{% endblock %}
{% block recherche %}
    {% include 'default/header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <h2>Les objets perdus de la catégorie : {{ category.label }}</h2>
        <section class="row">
            {% for traobject in category.traobject %}
                <article class="col-md-3">
                    {% include 'traobject/card.html.twig' with {'traobject': traobject} only %}
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}