{% extends 'base.html.twig' %}

{% block title %}Déposer une annonce{% endblock %}

{% block body %}

    <div class="container mb-4">
    <h1>Déposer une annonce</h1>
    {{ include('traobject/_form.html.twig') }}
    </div>
{% endblock %}